<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body> 
  <div>
    <h1 class="hello">hello world</h1>
  </div>
  <ul>
    <h2 class="my">My name is <i class="I">Ismoil</i></h2>
    <h2 class="first">My first name is <i class="s">Sunnatullayev</i></h2>
    <h2 class="old">My old <i class="o">15</i></h2>
    <h2 class="Educuation">Man Mars IT Schoolda <i class="B">Bakc-end da oqiman</i></h2>
  </ul>
  <img src="{% static 'img/img1.png' %}" class="rasm" alt="">
  <img src="{% static 'img/img2.jpg' %}" width="100px" height="100px" alt="">
</body>
</html>