.hello{
    color: red;
}

.my{
    color: aqua;
}

.I{
    color: blue;
}

.first{
    color: chartreuse;
}

.s{
    color: green;
}

.old{
    color: darkred;
}

.o{
    color: red;
}

.Educuation{
    color: darkslateblue;
}

.B{
    color: gold;
}

.rasm{
    width: 100px;
    height: 100px;
}